@brand-primary:#15BDF4;


@sky-blue     :#15BDF4;
@green        :#7ACC5A;
@dark-orange  :#FE7328;
@sunset-orange:#FFC539;
@dark-gray    :#343436;
@darker-gray  :#333335;
@light-gray   :#3B3B3D;
@lighter-gray :#414144;
@pink         :#F28B9E;
@white        :#F5F9FB;

html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}
.brand-logo img{
    width: 100px;
    margin: 10px 50px;
}

md-sidenav.md-locked-open{
    width:200px;
    min-width: 200px;
    max-width: 200px;
    
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
  padding:5px 5px 5px 30px;
  i.fa{
    margin-right: 10px;   
  }
  .md-button.selected {
    color: @brand-primary;
  }
}
  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Dashboard content area */

.dashboard-wrapper{
     margin: 30px 60px;
     background: @white;
}

.easypiechart-label{
    position: absolute;
    margin-top: 65px;
    margin-left: 60px;
    font-size: 25px;
}

md-grid-tile.healthy{
    md-grid-tile-header{
        background: #FFFFFF;
        border-bottom: 1px solid @white;
        figcaption{
            h3{
                color: #232f34;
            }
            h4{
                color: @green;
            }
        }
    }
}
md-grid-tile.warning{
    md-grid-tile-header{
        background: #FFFFFF;
        border-bottom: 1px solid @white;
        figcaption{
            h3{
                color: #232f34;
            }
            h4{
                color: @sunset-orange;
            }
        }
    }
}
md-grid-tile.danger{
    md-grid-tile-header{
        background: #FFFFFF;
        border-bottom: 2px solid @white;
        figcaption{
            h3{
                color: #232f34;
            }
            h4{
                color: @dark-orange;
            }
        }
    }
}
[flex].flex.healthy{
    .header{
        border-bottom: 2px solid @white;
        h3{
            color: #233f34;
        }
        h4{
             color: @green;   
        }
     }  
}
[flex].flex.warning{
    .header{
        border-bottom: 2px solid @white;
        h3{
            color: #233f34;
        }
        h4{
             color: @sunset-orange;   
        }
     }  
}
[flex].flex.danger{
    .header{
        border-bottom: 2px solid @white;
        h3{
            color: #233f34;
        }
        h4{
             color: @dark-orange;   
        }
     }  
}
[flex].flex{
    background: #FFFFFF;
    margin: 10px 5px 10px 0px;
    h3,h4{
        font-weight: 400;
        margin: 0 0 0 16px;   
    }
}
/******
* Colorography
******/
.text-white{
     color: white;
}
.text-black{
     color: #232f34;   
}
.text-green{
     color: @green;   
}
.text-dark-orange{
     color:@dark-orange;    
}
.text-sunset-orange{
     color: @sunset-orange;   
}
.bg-white{
     background: #FFFFFF;   
}


/*******
Overrided Styles
*******/
h1,h2,h3,h4,h5{
     padding: 5px 0px;   
}
md-grid-list md-grid-tile md-grid-tile-header, 
md-grid-list md-grid-tile md-grid-tile-footer{
    height: auto;
    max-height:80px; 
}